html {
	background: url(../images/bg.jpg) no-repeat center;			
	background-size: cover;  			
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
body {
	padding: 0;
	margin: 0;
	color: #fff;
}
h1, h2 {
	margin: 0;
	padding: 0;
}
.container {
	display:flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}
.message-container {	
	display: flex;	
	justify-content:center;	
	text-align: center;
	background: rgba(22,22,22, 0.5);
	/*background-color: beige;*/
}
.message {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding: 5px 0 25px 0;
}	
.message h1 {
	font-size:100px;
	font-weight: 400;
	font-family: 'Rochester',cursive;
}
.message h2  {
	font-size:30px;
	display: flex;
	justify-content: flex-end;	
	align-items: baseline;
	font-family: 'Thasadith', sans-serif;
	letter-spacing: 2px;
}
.message h2 >i {
	margin-left:10px;
}
@media screen and (max-width: 767px) {			
	.message h1 {
		font-size:50px;	
		margin-bottom:0px; 		
	}
	.message h2 {
		font-size:20px;	
	}
	i {
		padding:0 10px;
	}			
}