body {

	background: url(../images/bg.jpg) no-repeat center;			
	background-size: cover;  			
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #FFF !important;
}

h1, h2 {
	margin: 0 !important;
	padding: 0 !important;
}

.container {
	display:flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh !important;
}

.message-container {	
	display: flex;
	flex-direction: column;
	justify-content: space-between !important;
	align-items: center;
	background: rgba(22,22,22, 0.5);
	height: auto;
	padding: 15px !important; 
}

.coming-soon {
	margin-top: 15px;
	text-align: center;
	align-self: center;
	display: flex;
	justify-content: center;
}

.message-container h1 {
	font-size: 100px;
	font-weight: 200;
	font-family: 'Rochester',cursive !important;
}

.coming-soon h2  {
	font-size:30px;
	font-family: 'Thasadith', sans-serif;
	letter-spacing: 2px;
}

.coming-soon  i {
	align-self: center;
	margin:0 10px;
	font-size: 20px !important;
}

@media screen and (max-width: 720px) {
	.message-container h1 {
		font-size: 80px;
	}
}

@media screen and (max-width: 650px) {
	.message-container {
		padding: 10px !important;
	}
	.message-container h1 {
		font-size: 45px;
	}
	.coming-soon {
		margin-top: 10px;
		align-items: flex-end;
	}
	.coming-soon i {
		align-self: center;
		font-size: 15px !important;
	}
	.coming-soon h2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 420px) {
	.message-container {
		padding: 5px !important;
	}
	.message-container h1 {
		font-size: 50px;
	}
	.coming-soon {
		margin-top: 5px;

	}
	.coming-soon h2 {
		font-size: 18px !important;
	}
	.coming-soon i {
		display: none;
	}
}


@media screen and (max-width: 320px) {
	.message-container {
		padding: 5px !important;
	}
	.message-container h1 {
		font-size: 40px;
	}
	.coming-soon {
		margin-top: 5px;
	}
	.coming-soon h2 {
		font-size: 15px !important;
	}
}
